<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="preset-css.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="content-overlay">
                <div class="content-header">                
                    <h2 class="header-title">
                        How responsive have we been to your question or concerns ?
                    </h2>
                </div>

                <div class="content-body">
                    <ul class="question-list">
                        <li class="question-item">
                            <div class="checkbox-container">
                                <input type="radio" name="answers" value="simple" class="chech-box" id="">
                            </div>

                            <p class="question-desc"> Extremely responsive</p>
                        </li>

                        <li class="question-item">
                            <div class="checkbox-container">
                                <input type="radio" name="answers" value="simple" class="chech-box" id="">
                            </div>

                            <p class="question-desc"> Very responsive</p>
                        </li>

                        <li class="question-item">
                            <div class="checkbox-container">
                                <input type="radio" name="answers" value="simple" class="chech-box" id="">
                            </div>

                            <p class="question-desc"> Moderately responsive</p>
                        </li>

                        <li class="question-item">
                            <div class="checkbox-container">
                                <input type="radio" name="answers" value="simple" class="chech-box" id="">
                            </div>

                            <p class="question-desc"> Slightly responsive</p>
                        </li>
                        
                        <li class="question-item">
                            <div class="checkbox-container">
                                <input type="radio" name="answers" value="simple" class="chech-box" id="">
                            </div>

                            <p class="question-desc"> Not at all responsive</p>
                        </li>
                    </ul>
                </div>

                <div class="content-btn-contaienr">
                    <button class="prev-btn"><a href="index2.html" class="prev-link">Prev</a></button>
                    <button class="next-btn"><a href="index4.html" class="next-link">Next</a></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>